@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

:root {
  --searchBg: rgb(243, 249, 253);
  --currentWeatherBg: #083f50;
  --boxShadow: 0 0px 50px -12px rgb(182, 225, 255);
  --layout-border-radius: 8px;
  --gradient: linear-gradient(
    90deg,
    rgba(5, 0, 92, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 243, 255);
  font-family: "Open Sans", sans-serif;
}

/* html elements */

h1 {
  color: whitesmoke;
  font-family: Arial;
  font-weight: bolder;
}

h4 {
  text-align: center;
}

.flex {
  display: flex;
}
/* header */
.dashboardHeader {
  text-align: center;
  padding-block: 0.75rem;
  background: var(--gradient);
}

.container {
  max-width: 1380px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  align-items: stretch;
  margin-block: 1.25rem;
  border-radius: var(--layout-border-radius);
  background: var(--searchBg);
}

.searchText {
  font-size: 2rem;
  letter-spacing: -1.5px;
  font-weight: bold;
  margin: 1rem 0.5rem;
}

.searchBtn {
  border: none;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    90deg,
    rgb(45, 40, 134) 0%,
    rgb(37, 37, 149) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
}

.searchBtn:hover {
  transform: scale(1.02);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.form-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem;
  outline: none;
}

.form-input::placeholder {
  font-weight: 600;
}

.historyLinks {
  margin-top: 0.5rem;
  max-width: 300px;
}

.historyLinks > p {
  font-weight: bold;
  font-size: 1.25rem;
}

#history {
  display: flex;
  flex-wrap: wrap;
}

.historyCityBtn {
  margin: 0.25rem;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgb(222, 244, 253);
  border-radius: 0.5rem;
  text-align: left;
  cursor: pointer;
}

.historyCityBtn:hover {
  transition: all 0.2s;
  background-color: rgb(179, 233, 255);
}

/* display section */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weatherDisplay {
  display: grid;
  border-radius: var(--layout-border-radius);
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  margin-top: 20px;
  width: 90%;
  padding: 2rem 2rem;
  background: linear-gradient(
    90deg,
    rgb(45, 40, 134) 0%,
    rgb(37, 37, 149) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: var(--boxShadow);
  color: whitesmoke;
  position: relative;
}

.weatherDisplay::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  background: rgba(245, 245, 245, 0.5);
  border-radius: 15%;
  left: 50%;
  bottom: 10%;
}

.targetDetails {
  margin-left: 20px;
  font-size: 20px;
}

#currentDate {
  font-size: 1.25rem;
  margin-left: 8px;
  color: rgba(220, 220, 220, 0.733);
  font-weight: 600;
}

#currentCity {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  margin-left: 15px;
}

#currentTemp,
#weatherIcon,
#currentHumid,
#currentWind {
  margin-left: 8px;
  font-size: 17px;
  margin-right: 3px;
}

#currentUvIndex {
  height: 30px;
  width: 120px;
}

#currentUv {
  padding-inline: 0.2rem;
  border-radius: 0.25rem;
  background: green;
}

.units {
  margin-left: 2px;
  font-size: 17px;
}

#weatherIcon {
  height: 80px;
  width: 80px;
  display: flex;
}

h3,
h5,
#targetDetails {
  margin-left: 10px;
}

#targetDetails {
  margin-bottom: 8px;
}

.temperature {
  margin-top: 10px;
}

/* five day forecast */

.fiveDayForecast {
  text-align: left;
  margin-top: 0.2rem;
}
.fiveDayForecast > h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-block: 0.75rem;
}

.forecastContainer {
  display: flex;
  flex-wrap: wrap;
}

.forecastDate {
  margin-top: 5px;
}

#dateAIcon,
#dateBIcon,
#dateCIcon,
#dateDIcon,
#dateEIcon {
  padding: 3px;
  min-height: 20px;
  min-width: 20px;
}

.humidity2 {
  text-align: left;
  margin-left: 5px;
}

.temp {
  text-align: left;
  margin-left: 5px;
}

.fiveDay {
  margin-right: 30px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.096);
  padding: 0.75rem;
}

#forecastA,
#forecastB,
#forecastC,
#forecastD,
#forecastE {
  border-radius: var(--layout-border-radius);
  text-align: left;
  background-color: rgb(9, 62, 83);
  color: white;
  font-size: 18px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: var(--boxShadow);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding-left: 50px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    flex-direction: column;
    padding-left: 40px;
  }
}
